<dialog class="mdl-dialog" id="elm-mdl-singleton-dialog">
  <div class="mdl-dialog__title">
    <h4 class="mdl-dialog__title-text">Delete</h4></div>
  <div class="mdl-dialog__content">
    <p>Are you sure?</p>
  </div>
  <div class="mdl-dialog__actions">
    <div class="control-bar">
      <div class="control-bar__row">
        <div class="control-bar__left-0">
          <button class="mdl-js-button mdl-button mdl-button--accent" onmouseup="this.blur()" onmouseleave="this.blur()" ontouchend="this.blur()" onclick="">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</dialog>
