<header class="is-animating is-casting-shadow mdl-layout__header">
  <div class="mdl-layout__header-row">
    <a id="thesett-logo" href="http://"></a>
    <div class="mdl-layout-spacer"></div>
    <div></div>
    <div id="debug-box">
      <label class="is-upgraded mdl-js-ripple-effect--ignore-events mdl-js-ripple-effect mdl-js-switch mdl-switch" onmouseup="this.blur()">
        <input class="mdl-switch__input" type="checkbox"/>
        <span class="mdl-switch__label">Debug Style</span>
        <div class="mdl-switch__track"></div>
        <div class="mdl-switch__thumb">
          <span class="mdl-switch__focus-helper"></span>
        </div>
          <span class="mdl-switch__ripple-container mdl-js-ripple-effect mdl-ripple--center">
            <span class="mdl-ripple is-animating"></span>
          </span>
      </label>
    </div>
  </div>
</header>
