<div class="mdl-layout__container">
  <div class="mdl-layout  is-upgraded mdl-js-layout mdl-layout--fixed-header">
    <main id="elm-mdl-layout-main" class="mdl-layout__content">
      <div>
        <div class="layout-fixed-width--one-card">
          <div class="layout-spacer"></div>
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media"><img src="images/data_center-large.png"></div>
              <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">Log In</h4></div>
              <div class="mdl-card__supporting-text">
                <form action="#">
                  <div class="mdl-textfield--floating-label is-upgraded mdl-js-textfield mdl-textfield">
                    <input class="mdl-textfield__input" type="text" style="outline: none;">
                    <label class="mdl-textfield__label">Username</label>
                    <div></div>
                  </div>
                  <div class="mdl-textfield--floating-label is-upgraded mdl-js-textfield mdl-textfield">
                    <input class="mdl-textfield__input" type="password" style="outline: none;">
                    <label class="mdl-textfield__label">Password</label>
                    <div></div>
                  </div>
                </form>
              </div>
              <div class="mdl-card__actions">
                <div class="control-bar">
                  <div class="control-bar__row">
                    <div class="control-bar__left-0">
                      <button class="mdl-js-button mdl-button mdl-button--colored" onmouseup="this.blur()" onmouseleave="this.blur()" ontouchend="this.blur()">Log In<i class="material-icons">chevron_right</i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
