<div>
  <div class="layout-fixed-width--one-card">
    <div class="layout-spacer"></div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media"><img src="images/data_center-large.png"></div>
        <div class="mdl-card__title">
          <h4 class="mdl-card__title-text">Log In</h4>
        </div>
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
          <div class="mdl-card__supporting-text">
            <mdl-textfield ngModel type="text" label="Username" name="username" floating-label autofocus></mdl-textfield>
            <mdl-textfield ngModel type="password" label="Passowrd" name="password" floating-label></mdl-textfield>
          </div>
          <div class="mdl-card__actions">
            <div class="control-bar">
              <div class="control-bar__row">
                <div class="control-bar__left-0">
                  <button mdl-button type="submit" mdl-colored="primary">Log In<i class="material-icons">chevron_right</i></button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
